In [1]:
import pandas as pd
import sys

In [2]:
sys.path.append('..\\packages')

In [3]:
from suppression_check import DataAnonymizer

# Corrected relative path to the CSV file

In [4]:
file_path = r'..\data\GraduationELLGender.csv'

# Load the CSV file into a DataFrame

In [5]:
df_data = pd.read_csv(file_path)

# Instantiate the anonymizer

In [6]:
parent_org = 'ParentEntity'

In [7]:
child_org = 'ChildEntity'

In [8]:
sensitive_list = ['Subgroup1', 'Subgroup2']

In [9]:
frequency_value = 'GraduationCount'

In [10]:
anonymizer = DataAnonymizer(df_data, parent_organization=parent_org, child_organization = child_org, sensitive_columns=sensitive_list, frequency=frequency_value)

['ParentEntity', 'ChildEntity']
Redact is empty or not included

# Apply Anonymization

In [14]:
df_apply_anonymization = anonymizer.apply_anonymization()
display(df_apply_anonymization)

c:\Users\AmstutzG1\source\repos\DisclosureAvoidance\examples\..\packages\suppression_check.py:239: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parent_redact.rename(columns = {'RedactBinary':redact_parent_name}, inplace=True)
c:\Users\AmstutzG1\source\repos\DisclosureAvoidance\examples\..\packages\suppression_check.py:255: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sensitive.rename(columns = {'RedactBinary':redact_sensitive_name}, inplace=True)

,ParentEntity,ChildEntity,Subgroup1,Subgroup2,GraduationCount,RedactBinary,Redact
0,District1,School1,English Language Learner,Male,14,0,Not Redacted
1,District1,School1,Not English Language Learner,Male,20,0,Not Redacted
2,District1,School1,English Language Learner,Female,13,1,Secondary Suppression
3,District1,School1,Not English Language Learner,Female,7,1,Primary Suppression
4,District1,School1,English Language Learner,Non-binary,17,0,Not Redacted
5,District1,School1,Not English Language Learner,Non-binary,22,0,Not Redacted
6,District1,School2,English Language Learner,Male,9,1,Primary Suppression
7,District1,School2,Not English Language Learner,Male,5,1,Primary Suppression
8,District1,School2,English Language Learner,Female,12,0,Not Redacted
9,District1,School2,Not English Language Learner,Female,4,1,Primary Suppression
10,District1,School2,English Language Learner,Non-binary,34,0,Not Redacted
11,District1,School2,Not English Language Learner,Non-binary,18,0,Not Redacted
12,District2,School3,English Language Learner,Male,25,0,Not Redacted
13,District2,School3,Not English Language Learner,Male,11,1,Secondary Suppression
14,District2,School3,English Language Learner,Female,14,0,Not Redacted
15,District2,School3,Not English Language Learner,Female,12,0,Not Redacted
16,District2,School3,English Language Learner,Non-binary,7,1,Primary Suppression
17,District2,School3,Not English Language Learner,Non-binary,2,1,Primary Suppression
18,District2,School4,English Language Learner,Male,43,0,Not Redacted
19,District2,School4,Not English Language Learner,Male,3,1,Primary Suppression
20,District2,School4,English Language Learner,Female,80,0,Not Redacted
21,District2,School4,Not English Language Learner,Female,20,1,Secondary Suppression
22,District2,School4,English Language Learner,Non-binary,10,0,Not Redacted
23,District2,School4,Not English Language Learner,Non-binary,31,0,Not Redacted
24,District3,School5,English Language Learner,Male,7,1,Primary Suppression
25,District3,School5,Not English Language Learner,Male,0,1,Redact zero needed for secondary suppression
26,District3,School5,English Language Learner,Female,2,1,Primary Suppression
27,District3,School5,Not English Language Learner,Female,0,1,Redact zero needed for secondary suppression
28,District3,School5,English Language Learner,Non-binary,6,1,Primary Suppression
29,District3,School5,Not English Language Learner,Non-binary,12,0,Not Redacted
30,District3,School6,English Language Learner,Male,6,1,Primary Suppression
31,District3,School6,Not English Language Learner,Male,11,1,Secondary Suppression
32,District3,School6,English Language Learner,Female,12,0,Not Redacted
33,District3,School6,Not English Language Learner,Female,24,0,Not Redacted
34,District3,School6,English Language Learner,Non-binary,16,0,Not Redacted
35,District3,School6,Not English Language Learner,Non-binary,19,0,Not Redacted