In [1]:
import pandas as pd
import sys

In [2]:
sys.path.append('..\\packages')

In [3]:
from suppression_check import DataAnonymizer

# Corrected relative path to the CSV file

In [4]:
file_path = r'..\data\GraduationELLGender.csv'

# Load the CSV file into a DataFrame

In [5]:
df_data = pd.read_csv(file_path)
display(df_data)

,ParentEntity,ChildEntity,Subgroup1,Subgroup2,GraduationCount,CohortCount,GraduationRate,Redact
0,District1,School1,English Language Learner,Male,14,18,0.777778,0
1,District1,School1,Not English Language Learner,Male,20,22,0.909091,0
2,District1,School1,English Language Learner,Female,13,44,0.295455,0
3,District1,School1,Not English Language Learner,Female,7,45,0.155556,0
4,District1,School1,English Language Learner,Non-binary,17,40,0.425000,0
5,District1,School1,Not English Language Learner,Non-binary,22,33,0.666667,0
6,District1,School2,English Language Learner,Male,9,20,0.450000,0
7,District1,School2,Not English Language Learner,Male,5,13,0.384615,0
8,District1,School2,English Language Learner,Female,12,20,0.600000,0
9,District1,School2,Not English Language Learner,Female,4,9,0.444444,1
10,District1,School2,English Language Learner,Non-binary,34,45,0.755556,0
11,District1,School2,Not English Language Learner,Non-binary,18,25,0.720000,0
12,District2,School3,English Language Learner,Male,25,13,1.923077,1
13,District2,School3,Not English Language Learner,Male,11,13,0.846154,1
14,District2,School3,English Language Learner,Female,14,100,0.140000,0
15,District2,School3,Not English Language Learner,Female,12,200,0.060000,0
16,District2,School3,English Language Learner,Non-binary,7,91,0.076923,0
17,District2,School3,Not English Language Learner,Non-binary,2,92,0.021739,0
18,District2,School4,English Language Learner,Male,43,44,0.977273,0
19,District2,School4,Not English Language Learner,Male,3,10,0.300000,0
20,District2,School4,English Language Learner,Female,80,160,0.500000,0
21,District2,School4,Not English Language Learner,Female,20,30,0.666667,0
22,District2,School4,English Language Learner,Non-binary,10,32,0.312500,0
23,District2,School4,Not English Language Learner,Non-binary,31,44,0.704545,0
24,District3,School5,English Language Learner,Male,7,70,0.100000,0
25,District3,School5,Not English Language Learner,Male,0,80,0.000000,0
26,District3,School5,English Language Learner,Female,2,10,0.200000,0
27,District3,School5,Not English Language Learner,Female,0,9,0.000000,0
28,District3,School5,English Language Learner,Non-binary,6,29,0.206897,0
29,District3,School5,Not English Language Learner,Non-binary,9,20,0.450000,0
30,District3,School6,English Language Learner,Male,6,230,0.026087,0
31,District3,School6,Not English Language Learner,Male,11,100,0.110000,0
32,District3,School6,English Language Learner,Female,12,28,0.428571,0
33,District3,School6,Not English Language Learner,Female,24,130,0.184615,1
34,District3,School6,English Language Learner,Non-binary,16,70,0.228571,0
35,District3,School6,Not English Language Learner,Non-binary,19,28,0.678571,0

# Instantiate the anonymizer

In [6]:
organizations = ['ParentEntity','ChildEntity']
sensitive = ['Subgroup1', 'Subgroup2']
anonymizer = DataAnonymizer(df_data, organization_columns=organizations, sensitive_columns=sensitive, frequency='GraduationCount', redact_column = ['Redact'])

..\packages\suppression_check.py:53: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df_log = pd.concat([df_temp, df_log])

# Apply Anonymization

In [7]:
df_redact_threshold = anonymizer.apply_anonymization()
display(df_redact_threshold)

,ParentEntity,ChildEntity,Subgroup1,Subgroup2,GraduationCount,UserRedact,RedactBinary,Redact,MinimumValue,counts,TotalSum,Zero
0,District1,School1,English Language Learner,Male,14,0.0,0,Not Redacted,13.0,1,7,NaN
1,District1,School1,Not English Language Learner,Male,20,0.0,0,Not Redacted,13.0,1,7,NaN
2,District1,School1,English Language Learner,Female,13,0.0,1,Sum of minimum threshold redact needed seconda...,13.0,1,7,NaN
3,District1,School1,Not English Language Learner,Female,7,0.0,1,Less Than 10 and not zero,13.0,1,7,NaN
4,District1,School1,English Language Learner,Non-binary,17,0.0,0,Not Redacted,13.0,1,7,NaN
5,District1,School1,Not English Language Learner,Non-binary,22,0.0,0,Not Redacted,13.0,1,7,NaN
6,District1,School2,English Language Learner,Male,9,0.0,1,Less Than 10 and not zero,12.0,3,18,NaN
7,District1,School2,Not English Language Learner,Male,5,0.0,1,Less Than 10 and not zero,12.0,3,18,NaN
8,District1,School2,English Language Learner,Female,12,0.0,0,Not Redacted,12.0,3,18,NaN
9,District1,School2,Not English Language Learner,Female,4,1.0,1,User-requested redaction,12.0,3,18,NaN
10,District1,School2,English Language Learner,Non-binary,34,0.0,0,Not Redacted,12.0,3,18,NaN
11,District1,School2,Not English Language Learner,Non-binary,18,0.0,0,Not Redacted,12.0,3,18,NaN
12,District2,School3,English Language Learner,Male,25,1.0,1,User-requested redaction,11.0,4,9,NaN
13,District2,School3,Not English Language Learner,Male,11,1.0,1,Sum of minimum threshold redact needed seconda...,11.0,4,9,NaN
14,District2,School3,English Language Learner,Female,14,0.0,0,Not Redacted,11.0,4,9,NaN
15,District2,School3,Not English Language Learner,Female,12,0.0,0,Not Redacted,11.0,4,9,NaN
16,District2,School3,English Language Learner,Non-binary,7,0.0,1,Less Than 10 and not zero,11.0,4,9,NaN
17,District2,School3,Not English Language Learner,Non-binary,2,0.0,1,Less Than 10 and not zero,11.0,4,9,NaN
18,District2,School4,English Language Learner,Male,43,0.0,0,Not Redacted,10.0,1,3,NaN
19,District2,School4,Not English Language Learner,Male,3,0.0,1,Less Than 10 and not zero,10.0,1,3,NaN
20,District2,School4,English Language Learner,Female,80,0.0,0,Not Redacted,10.0,1,3,NaN
21,District2,School4,Not English Language Learner,Female,20,0.0,0,Not Redacted,10.0,1,3,NaN
22,District2,School4,English Language Learner,Non-binary,10,0.0,1,Sum of minimum threshold redact needed seconda...,10.0,1,3,NaN
23,District2,School4,Not English Language Learner,Non-binary,31,0.0,0,Not Redacted,10.0,1,3,NaN
24,District3,School5,English Language Learner,Male,7,0.0,1,Less Than 10 and not zero,0.0,4,24,NaN
25,District3,School5,Not English Language Learner,Male,0,0.0,0,Not Redacted,0.0,4,24,NaN
26,District3,School5,English Language Learner,Female,2,0.0,1,Less Than 10 and not zero,0.0,4,24,NaN
27,District3,School5,Not English Language Learner,Female,0,0.0,0,Not Redacted,0.0,4,24,NaN
28,District3,School5,English Language Learner,Non-binary,6,0.0,1,Less Than 10 and not zero,0.0,4,24,NaN
29,District3,School5,Not English Language Learner,Non-binary,9,0.0,1,Less Than 10 and not zero,0.0,4,24,NaN
30,District3,School6,English Language Learner,Male,6,0.0,1,Less Than 10 and not zero,11.0,2,6,NaN
31,District3,School6,Not English Language Learner,Male,11,0.0,1,Sum of minimum threshold redact needed seconda...,11.0,2,6,NaN
32,District3,School6,English Language Learner,Female,12,0.0,0,Not Redacted,11.0,2,6,NaN
33,District3,School6,Not English Language Learner,Female,24,1.0,1,User-requested redaction,11.0,2,6,NaN
34,District3,School6,English Language Learner,Non-binary,16,0.0,0,Not Redacted,11.0,2,6,NaN
35,District3,School6,Not English Language Learner,Non-binary,19,0.0,0,Not Redacted,11.0,2,6,NaN